@model TrashCollector.Models.Customer

@Html.DropDownList("Day", Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Day")
@Html.DropDownList("Month", Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), "Month")
@Html.DropDownList("Year", Enumerable.Range(2018, 45).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Year")
@Html.DropDownList("Hour", Enumerable.Range(0, 24).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Hour")
@Html.DropDownList("Minute", Enumerable.Range(0, 60).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Minute")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-10">
            @Html.ValidationMessageFor(model => model.PickUpDay, "", new { @class = "text-danger" })
        </div>
    </div>
}


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Set" class="btn btn-default" />
    </div>
</div>

